canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    touch-action: none;
}

h1 {
    text-align: center;
    font-family: Alfa Slab One;
    font-size: 3rem;
    margin: 0.5rem;
}

